/*
This css for style not covered by bootstrap
and for rewrite bootstrap styles.
*/
.post {
    
}

.post p {
    text-indent: 20px;
}

.post .post-title {
    text-decoration: none;
    color: #000000;
}

.tag-link {
    border: 1px dotted #cccccc;
    color: #505050;
    background-color: #cccccc;
    text-decoration: none;
    padding: 3px;
    margin: 0px 5px;
    border-radius: 9px;
}

.tag-link:hover {
    text-decoration: none;
}

.navbar-icon {
    height: 24px;

}